header, footer, nav {
	background-color: #E0FFFF;
	text-align: center;

}

footer {
	text-align: center;
	padding: 20px 10px 20px 10px;
}

header {
	font-family: Monospace;
	padding: 20px 5px 20px 10px;
}

#about, #description, #mainMenu {
	background-color: #ADD8E6;
	padding: 20px 5px 20px 10px;

}
#about h2{
	text-align: center;
}




nav a {
    padding: 8px;
    text-decoration: none;
   	text-align: center;
   	display: block;
   	margin: 8px;
   	width: 100px;
}
.topnav a {
	float: left;

}

.topnav {
	overflow: hidden;
}

a{
	font-family: arial;
	text-decoration: none;
	font-weight: none;
}
a:link {
	color:black;
}
a:visited {
	color:white;
}

a:hover {
	text-decoration: bold;
	color: #00c;
	font-family: arial;
	font-weight:bold;
}

a:active {
	
}

#description {
	text-align: center;
}

nav .btn {
	background-color: #5b7d87; 
}

.slideshow-container {
  position: relative;
  background: #66CDAA;
  border: thin black;
}

.mySlides {
  padding: 10px;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.row {
	text-align: center;
}

nav {
	padding-bottom: 10px;
}


.container {
	background-color: #ADD8E6;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}











